html {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}
.title {

}

.container {
  border: 1px solid black;
  box-sizing: border-box;
  -webkit-box-shadow: 4px 5px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 5px 15px 0px rgba(0,0,0,0.75);
  height: 50%;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
